#photo {
    padding: 300px 200px 100px 200px ;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
}

#photo-container{
    background: url(../images/photo.png);
    background-attachment: cover;
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 500px;
    height: 169px;
    padding-bottom: 100px;

}

#menu_titles {
    padding-top: 150px;
    padding-bottom: 200px;
}

.navbar-brand:hover {
    background-color: rgb(93, 113, 133, .4);
    border-radius: 3px solid black;
}
