html {
    font-family: sans-serif;
    font-size: 62.54;
    -webkit-tap-highlight-color: rgba(10, 6, 250, 0.918);   
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: slategray;

}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: slategray;
}

#nav {
    display: inline-block;
    padding-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}

h1 {
    padding-top: 300px;
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(15, 15, 15);
    color: rgb(252, 248, 248);
}

h1::after {
    display: block;
    content: "";
    background-color: #070707;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}
#name {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: cornsilk;
    text-shadow: -3px -3px 5px black;
}

h2 {
    line-height: 50px;
    color: #070707b6;
}

h3 {
    line-height: 30px;
    scroll-padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;
    padding-top:30px;
    color: black;
    text-align: center;
}

.text {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 0px;
    margin-top: 00px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

#menu {
    background-color: slategray;
}

.navbar:after {
    clear: both;
    display: both;
    content: " ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

#HOME {
    background: url(../images/website-background.png) no-repeat 20% 20%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 100px;
    padding-bottom: 800px;
    
}

#main_p {
    font-size: 30px;
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 200px;
    color: rgb(253, 252, 252);
    background: rgba(0, 0, 0, 0.3);
}

#main {
    text-shadow: 5px 4px 5px rgba(5, 5, 5, 0.774);
    font-variant: small-caps;
    color: rgba(117, 115, 115, 0.651);
    letter-spacing: 2pt;
    font-size: 2.5em;
    text-align: left;
    font-family: inpact, sans-serif;
    line-height: 5px;
    font-weight: 20px;
    padding: 10px;
}

#videos {
    background-color: black;
    
}
#contact {
    background: url(../images/background-image.png) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
 
.latte-art-classes {
    color: black;
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px0 rgba(0,0,0, 0.5);
}

.latte-art-classes h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3cm;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.latte-art-classes h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5cm;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.latte-art-classes p {
    font-size: large;
    color: #13161B;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.latte-art-classes form {
    font-size: 15px;
    font-weight: 600;
    color: #0a0a0a;
    padding: 30px 19px 19px 19px;
    width: 70%;
    border: 1px double solid #0c0c0c;
    margin: 2% auto;
    border-radius: 10px;
    background: rgb(120, 134, 148);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

::placeholder {
    color: black;
}

.latte-art-classes input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #111111b9;
    padding: 20px 20px 10px 20px;
    border-top: 1px solid#090B0D;
    border-right: 2px solid#03a52c;
    margin: 10px 1em;
    border-radius: 7px;
    background: #03a52c;
    box-shadow: inset 0px 3px 0px rgba(5, 5, 5, 0.966);
    font-family: 'Raleway', sans-serif;
}

.latte-art-classes input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(4, 230, 34, 0.986);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 20px 1px 0 0 ;
    margin-top: 15%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: rgb(0, 241, 72);
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(8, 8, 8);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #141414;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #575656;
    box-shadow: inset 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(100, 65, 0, .3);
    color: #000;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-weight: bold;
}
