html {
    font-family: "Roboto" sans-serif;
    font-size: 900px;
    -webkit-tap-highlight-color: rgba(247, 18, 18, 0.897);   
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5474;
    color: rgb(36, 24, 24);
    background-color: rgb(190, 131, 19);
}

#latte-art-classes form {
    font-size: 30px;
    outline: none;
    font-weight: 600;
    color: #465361;
    padding: 100px 50px;
    width: 50%;
    border: 3px double solid #faf8f8;
    margin: 25%;
    border-radius: 7px;
    background: rgb(27, 156, 189);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', fantasy, sans-serif;
    position: relative;
    float: inline-start;
}

.latte-art-classes input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8F;
    padding: 2% 1% 2% 7%;
    width: 70%;
    border-top: 3px solid#cecece;
    border-right: 5px solid#080808;
    margin: 70px 12em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px rgba(5, 5, 5, 0.15);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif sans-serif;
}

.latte-art-classes input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(14, 13, 13, 0.8);
}

.terms {
    margin: 30px 1px 0 0 ;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 17px;
    text-shadow: 2px rgb(15, 12, 12);
    line-height: 5px;
    color: rgb(204, 200, 200);
    cursor: pointer;
    font-family: 'Roboto', Fantasy, sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}